input
{
	margin-top: 20px;
	border:2px solid gray;
}
button
{
	margin-top: 20px;
}

.forhead
{
	height: 50px;
	width: 100%;
}

.content{
    
    
    position: relative;
}
#demo
{
	overflow-x: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
}
header
{
	height: 10%;
	width: 100%;
	float: top;
	position: fixed;
	background-color: #EFF0F1;
}
table
{
	margin-top: 50px;
}
#top
{
	margin-left: 0px;
}